.button {
    font: inherit;
    margin-left: 4px;
    border: none;
    text-align: center;
    color: white;
    background-color: rgb(226, 155, 0);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    padding: 4px 8px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:focus {
    outline: none;
  }
  
  
  
  .button--inverse {
    background: transparent;
    color: rgb(226, 155, 0);
  }
  
  
  .button--danger:hover {
    background-color: #830000;
    border-color: #830000;
  }
  

  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  